body {
    background-color: #cdc3c3;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5c4b4b;
    padding: 10px;
    color: #fff;
}

header img {
    max-height: 100px;
}

main {
    padding: 20px;
}

.footer {
    background-color: #5c4b4b;
    color: #fff;
    padding: 2% 0;
    margin-top: 2%;
}

.contact-form {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 40px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

.form-field {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
    height: 25px;
}

.btn {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    background-color: #333333; 
    padding: 5%;
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto; 
}

.btn:hover {
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
    color: #ebdddd; 
    background-color: #5c4b4b;
}
