body {
    font-family: 'Noto Serif', serif;
    background-image: url(../images/form.jpg);
}

h2 {
    margin-bottom: 40px;
    color: rgb(60, 29, 29);
}

main {
    background-color: rgb(227, 196, 182);
    margin: 0 30%;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}


.form-label {
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
    color: rgb(60, 29, 29);
}