body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    background-image: url(../images/inputForm.png);
}

main {
    background-color: rgb(227, 196, 182);
    margin: 10% 30%;
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: rgb(60, 29, 29);
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
    color: rgb(60, 29, 29);
}