body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    background-color: rgb(246, 233, 213);
}

.header {
    background-color: rgb(195, 118, 90);
    background-image: url(../images/backgrounds.png);
}

h2 {
    margin-bottom: 40px;
    color: rgb(60, 29, 29);
}

main {
    background-color: rgb(227, 196, 182);
    margin: 5% 30%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}


.form-label {
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
    color: rgb(60, 29, 29);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
}

.main-menu {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

.main-menu a {
    text-decoration: none;
    color: rgb(60, 29, 29);
    margin-right: 30px;
}

.main-menu a:hover {
    transition: color 0.3s;
    color: rgb(138, 5, 5);
}

.text-center {
    text-align: center;
    color: rgb(60, 29, 29);
}


.py-5 {
    padding-bottom: 3rem;
}

.footer {
    background-color: rgb(195, 118, 90);
    color: black;
    padding: 40px 0;
    margin-top: 2rem;
}
